.banner{
    display: flex;
    flex-direction: column;
    background-color: #55c3e9;
    
}
.banner-img{
    display: flex;
    padding: 10px;
}

.bnr-img{
    
height: 100vh;
width: 600px;
margin-top: 10px;
background-color:#55c3e9 ;
}
.bnr-data{
    margin-top: 50px;
    width: 600px;
}
h1{
    color: white;
    font-family: inherit;
}
p{
    color:black;
    font-family: cursive;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 13vh;
    /* background-color: #55c3e9; */
    /* background-color:blue; */
}
.bhome{
    /* display: flex; */
    /* align-items: flex-start; */
    width: 100%;
    /* background-color: blueviolet; */
}
.btn{
    display: flex;
    width: 1000px;
    justify-content: space-between;
}
.home-btn{
    width: 120px;
    height: 37px;
    margin-top: 15px;
    margin-left: 10px;
    border: none;
    border-radius: 14px;
    color: black;
  /* background-color:#6181e6; */
  border: 1.5px solid rgb(53, 47, 59);
  background-color:#55c3e9;
  font-family: cursive;
  
  /* cursor: pointer; */
}
.home-btn:hover{
    cursor: pointer;
  background-color:#6181e6;
  color: white;

}
.rg-vcn,.pin-search,.dis-search{
    width: 130px;
    height: 37px;
    margin-top: 15px;
    margin-left: 60px;
    border: none;
    border-radius: 14px;
    color: black;
  /* background-color:#6181e6; */
  /* border: 1.5px solid blueviolet; */
  background-color:#6181e6;
  font-size: 11px;
  font-family: cursive;
  font-weight: bold;
  outline:none;
    
}
.rg-vcn:hover{
    cursor: pointer;
  background-color:#6181e6;
  color: white;
}
.pin-search:hover{
  color: white;

    cursor: pointer;
  background-color:#6181e6;
}
.dis-search:hover{
  color: white;

    cursor: pointer;
  background-color:#6181e6;
}
.bnr-heading{
  display: none;
}
@media only screen and (max-width: 360px) {
  /* .btn{
    width:50px;
  } */
  .buttons {
    /* display: flex; */
    /* justify-content: space-evenly; */
    width: 100%;
    height: 18vh;
    /* background-color: #55c3e9; */
    /* background-color:blue; */
  }
  .rg-vcn,.pin-search,.dis-search{
    width: 79px;
    height: 37px;
    margin-top: 15px;
    margin-left: 5px;
    border: none;
    border-radius: 14px;
    color: rgb(253, 253, 253);
  /* background-color:#6181e6; */
  /* border: 1.5px solid blueviolet; */
  background-color:#6181e6;
  font-size: 11px;
  font-family: cursive;
  font-weight: bold;
  outline:none;
    
}
.bhome{
  width: 61px;
  /* margin-left: 30px; */
}
.home-btn{
  width: 54px;
  height: 37px;
  margin-top: 16px;
  margin-left: 1px;
  border: none;
  border-radius: 10px;
  color: black;
/* background-color:#6181e6; */
border: 1.5px solid rgb(53, 47, 59);
background-color:#55c3e9;
font-family: cursive;

/* cursor: pointer; */
}
.banner{
  width:100%;
}
.bnr-img{
    display: flex;
    flex-direction: column;
  height: 100vh;
  width: 360px;
  margin-top: 10px;
  background-color:#55c3e9 ;
  }
  .bnr-data{
      display: none;
  }
  .bnr-heading{
    display: block;
  }
  #heading{
    font-size: 22px;
  }
}