.search{
    height: 60px;
    background-color: aqua;
}
select{
    width: 0%;
    height: 30px;
    margin-left: 50px;
    border: none;
    outline: none;
    align-self: center;
    border-bottom: 2px solid #8f94a7;

}
a{
    text-decoration: none;
    color: black;
}

/* option{
    width: 200px;
} */