.details{
    
    width: 100%;
    
    background-color: #55c3e9;
    
}
.head{
    
    height: 50px;
    background-color: #55c3e9;
    display: flex;

}
.dates{
    display: flex;
    /* padding-right: 250px; */
    padding-left: 100px;
}

.date-btn{
    width: 115px;
    height: 30px;
    margin-top: 15px;
    margin-left: 200px;
    border: none;
    border-radius: 14px;
    color:white;
  /* background-color:#6181e6; */
  /* border: 1.5px solid blueviolet; */
  background-color:#6181e6;
  font-size: 10px;
  font-family: cursive;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
/* .centers{
    width: 190%;
    padding-left: 30px;
} */

.centers{
    width: 500px;
    height: 170px;
    background-color:white;
    margin-bottom:15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 3px;
    padding-right: 10px;
    margin-left: 270px;
    padding-left: 10px;
}

.type-btn{
    border: none;
    background-color:#6181e6;
    border-radius: 10px;
    margin-right: 2px;
    width: 45px;
    height: 20px;
    color: white;
    font-family: cursive;
    font-size: 13px;
    margin-top: 20px;

    
}
.age-btn{
    border: none;
    background-color:#6181e6;
    border-radius: 10px;
    margin-right: 2px;
    width: 45px;
    height: 20px;
    color: white;
    font-family: cursive;
    font-size: 13px;
    margin-top: 20px;

    
}
.vcn-btn{
    border: none;
    background-color:#6181e6;
    border-radius: 10px;
    margin-right: 2px;
    width: 100px;
    height: 20px;
    font-family: cursive;
    color: white;
    font-size: 13px;
    margin-top: 20px;
    
}
.e-btn{
    border: none;
    background-color:#f70f07;
    border-radius: 10px;
    margin-right: 2px;
    width: 100px;
    height: 20px;
    font-family: cursive;
    color: white;
    font-size: 13px;
    margin-top: 20px;
}
.s-btn{
    border: none;
    background-color:#3eeb1c;
    border-radius: 10px;
    margin-right: 2px;
    width: 119px;
    height: 20px;
    font-family: cursive;
    color: white;
    font-size: 13px;
    margin-top: 20px;
}
.name-tag{
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    margin-top:8px
}
.adrs-tag{
 font-size: 13px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 margin-top: 12px;
 font-weight: 400;
}
.date-tag{
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 12px;
    font-weight: 400;
}
.time-tag{
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 12px;
    font-weight: 400;
}
span{
    font-family: monospace;
    font-size: 12px;
    font-weight: bolder;
}
.vhome-btn{
    width: 83px;
    height: 37px;
    margin-top: 16px;
    margin-left: 5px;
    border: none;
    border-radius: 10px;
    color: black;
  /* background-color:#6181e6; */
  border: 1.5px solid rgb(53, 47, 59);
  background-color:#55c3e9;
  font-family: cursive;
  
  /* cursor: pointer; */
  }
@media only screen and (max-width: 360px) {
    .centers{
        width: 340px;
        height: 170px;
        background-color:white;
        margin-bottom:15px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        border-radius: 3px;
        padding-right: 10px;
        margin-left: 10px;
    }

   
    .head{
        width: 0px;
        height: 50px;
        background-color: #55c3e9;
        display: flex;
    
    }
    .dates{
        /* width: 150%; */
        padding-left: 1px;
    }
    .date-btn{
        /* position: absolute; */
        width: 73px;
        height: 26px;
        margin-top: 15px;
        margin-left: 27px;
        border: none;
        border-radius: 14px;
        color:white;
      /* background-color:#6181e6; */
      /* border: 1.5px solid blueviolet; */
      background-color:#6181e6;
      font-size: 10px;
      font-family: cursive;
      font-weight: bold;
      cursor: pointer;
      outline: none;
    }
    .vhome-btn{
        width: 54px;
        height: 24px;
        margin-top: 16px;
        margin-left: 1px;
        border: none;
        border-radius: 10px;
        color: black;
      /* background-color:#6181e6; */
      border: 1.5px solid rgb(53, 47, 59);
      background-color:#55c3e9;
      font-family: cursive;
      
      /* cursor: pointer; */
      }
  }